/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-addition,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-link {
  color: #888;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-deletion {
  color: #ccc;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-strong {
  font-weight: bold;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}
