/* Base16 Atelier Sulphurpool Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Sulphurpool Comment */
.better-codeblocks .hljs-comment {
  color: #6b7394;
}

/* Atelier-Sulphurpool Red */
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-name,
.ruby .better-codeblocks .hljs-constant,
.xml .better-codeblocks .hljs-tag .better-codeblocks .hljs-title,
.xml .better-codeblocks .hljs-pi,
.xml .better-codeblocks .hljs-doctype,
.html .better-codeblocks .hljs-doctype,
.css .better-codeblocks .hljs-id,
.css .better-codeblocks .hljs-class,
.css .better-codeblocks .hljs-pseudo {
  color: #c94922;
}

/* Atelier-Sulphurpool Orange */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-preprocessor,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-params,
.better-codeblocks .hljs-constant {
  color: #c76b29;
}

/* Atelier-Sulphurpool Yellow */
.ruby .better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.css .better-codeblocks .hljs-rule .better-codeblocks .hljs-attribute {
  color: #c08b30;
}

/* Atelier-Sulphurpool Green */
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-value,
.better-codeblocks .hljs-inheritance,
.better-codeblocks .hljs-header,
.ruby .better-codeblocks .hljs-symbol,
.xml .better-codeblocks .hljs-cdata {
  color: #ac9739;
}

/* Atelier-Sulphurpool Aqua */
.better-codeblocks .hljs-title,
.css .better-codeblocks .hljs-hexcolor {
  color: #22a2c9;
}

/* Atelier-Sulphurpool Blue */
.better-codeblocks .hljs-function,
.python .better-codeblocks .hljs-decorator,
.python .better-codeblocks .hljs-title,
.ruby .better-codeblocks .hljs-function .better-codeblocks .hljs-title,
.ruby .better-codeblocks .hljs-title .better-codeblocks .hljs-keyword,
.perl .better-codeblocks .hljs-sub,
.javascript .better-codeblocks .hljs-title,
.coffeescript .better-codeblocks .hljs-title {
  color: #3d8fd1;
}

/* Atelier-Sulphurpool Purple */
.better-codeblocks .hljs-keyword,
.javascript .better-codeblocks .hljs-function {
  color: #6679cc;
}

.better-codeblocks {
  display: block;
  overflow-x: auto;
  background: #f5f7ff;
  color: #5e6687;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .better-codeblocks .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .better-codeblocks .hljs-cdata {
  opacity: 0.5;
}
