/* Base16 Atelier Heath Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Heath Comment */
.better-codeblocks .hljs-comment {
  color: #9e8f9e;
}

/* Atelier-Heath Red */
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-name,
.ruby .better-codeblocks .hljs-constant,
.xml .better-codeblocks .hljs-tag .better-codeblocks .hljs-title,
.xml .better-codeblocks .hljs-pi,
.xml .better-codeblocks .hljs-doctype,
.html .better-codeblocks .hljs-doctype,
.css .better-codeblocks .hljs-id,
.css .better-codeblocks .hljs-class,
.css .better-codeblocks .hljs-pseudo {
  color: #ca402b;
}

/* Atelier-Heath Orange */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-preprocessor,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-params,
.better-codeblocks .hljs-constant {
  color: #a65926;
}

/* Atelier-Heath Yellow */
.ruby .better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.css .better-codeblocks .hljs-rule .better-codeblocks .hljs-attribute {
  color: #bb8a35;
}

/* Atelier-Heath Green */
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-value,
.better-codeblocks .hljs-inheritance,
.better-codeblocks .hljs-header,
.ruby .better-codeblocks .hljs-symbol,
.xml .better-codeblocks .hljs-cdata {
  color: #918b3b;
}

/* Atelier-Heath Aqua */
.better-codeblocks .hljs-title,
.css .better-codeblocks .hljs-hexcolor {
  color: #159393;
}

/* Atelier-Heath Blue */
.better-codeblocks .hljs-function,
.python .better-codeblocks .hljs-decorator,
.python .better-codeblocks .hljs-title,
.ruby .better-codeblocks .hljs-function .better-codeblocks .hljs-title,
.ruby .better-codeblocks .hljs-title .better-codeblocks .hljs-keyword,
.perl .better-codeblocks .hljs-sub,
.javascript .better-codeblocks .hljs-title,
.coffeescript .better-codeblocks .hljs-title {
  color: #516aec;
}

/* Atelier-Heath Purple */
.better-codeblocks .hljs-keyword,
.javascript .better-codeblocks .hljs-function {
  color: #7b59c0;
}

.better-codeblocks {
  display: block;
  overflow-x: auto;
  background: #1b181b;
  color: #ab9bab;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .better-codeblocks .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .better-codeblocks .hljs-cdata {
  opacity: 0.5;
}
