/* Base16 Atelier Savanna Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/savanna) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Savanna Comment */
.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #78877d;
}

/* Atelier-Savanna Red */
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-link,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-class {
  color: #b16139;
}

/* Atelier-Savanna Orange */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-builtin-name,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-params {
  color: #9f713c;
}

/* Atelier-Savanna Green */
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet {
  color: #489963;
}

/* Atelier-Savanna Blue */
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section {
  color: #478c90;
}

/* Atelier-Savanna Purple */
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag {
  color: #55859b;
}

.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-addition {
  color: #171c19;
  display: inline-block;
  width: 100%;
}

.better-codeblocks .hljs-deletion {
  background-color: #b16139;
}

.better-codeblocks .hljs-addition {
  background-color: #489963;
}

.better-codeblocks {
  display: block;
  overflow-x: auto;
  background: #171c19;
  color: #87928a;
  padding: 0.5em;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
