/* Base16 Atelier Lakeside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Lakeside Comment */
.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #7195a8;
}

/* Atelier-Lakeside Red */
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-link,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-class {
  color: #d22d72;
}

/* Atelier-Lakeside Orange */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-builtin-name,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-params {
  color: #935c25;
}

/* Atelier-Lakeside Green */
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet {
  color: #568c3b;
}

/* Atelier-Lakeside Blue */
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section {
  color: #257fad;
}

/* Atelier-Lakeside Purple */
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag {
  color: #6b6bb8;
}

.better-codeblocks {
  display: block;
  overflow-x: auto;
  background: #161b1d;
  color: #7ea2b4;
  padding: 0.5em;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
