/*

Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage

Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

*/
.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  line-height: 1.3em;
  color: #abb2bf;
  background: #282c34;
  border-radius: 5px;
}
.better-codeblocks .hljs-keyword, .better-codeblocks .hljs-operator {
  color: #F92672;
}
.better-codeblocks .hljs-pattern-match {
  color: #F92672;
}
.better-codeblocks .hljs-pattern-match .better-codeblocks .hljs-constructor {
  color: #61aeee;
}
.better-codeblocks .hljs-function {
  color: #61aeee;
}
.better-codeblocks .hljs-function .better-codeblocks .hljs-params {
  color: #A6E22E;
}
.better-codeblocks .hljs-function .better-codeblocks .hljs-params .better-codeblocks .hljs-typing {
  color: #FD971F;
}
.better-codeblocks .hljs-module-access .better-codeblocks .hljs-module {
  color: #7e57c2;
}
.better-codeblocks .hljs-constructor {
  color: #e2b93d;
}
.better-codeblocks .hljs-constructor .better-codeblocks .hljs-string {
  color: #9CCC65;
}
.better-codeblocks .hljs-comment, .better-codeblocks .hljs-quote {
  color: #b18eb1;
  font-style: italic;
}
.better-codeblocks .hljs-doctag, .better-codeblocks .hljs-formula {
  color: #c678dd;
}
.better-codeblocks .hljs-section, .better-codeblocks .hljs-name, .better-codeblocks .hljs-selector-tag, .better-codeblocks .hljs-deletion, .better-codeblocks .hljs-subst {
  color: #e06c75;
}
.better-codeblocks .hljs-literal {
  color: #56b6c2;
}
.better-codeblocks .hljs-string, .better-codeblocks .hljs-regexp, .better-codeblocks .hljs-addition, .better-codeblocks .hljs-attribute, .better-codeblocks .hljs-meta-string {
  color: #98c379;
}
.better-codeblocks .hljs-built_in, .better-codeblocks .hljs-class .better-codeblocks .hljs-title {
  color: #e6c07b;
}
.better-codeblocks .hljs-attr, .better-codeblocks .hljs-variable, .better-codeblocks .hljs-template-variable, .better-codeblocks .hljs-type, .better-codeblocks .hljs-selector-class, .better-codeblocks .hljs-selector-attr, .better-codeblocks .hljs-selector-pseudo, .better-codeblocks .hljs-number {
  color: #d19a66;
}
.better-codeblocks .hljs-symbol, .better-codeblocks .hljs-bullet, .better-codeblocks .hljs-link, .better-codeblocks .hljs-meta, .better-codeblocks .hljs-selector-id, .better-codeblocks .hljs-title {
  color: #61aeee;
}
.better-codeblocks .hljs-emphasis {
  font-style: italic;
}
.better-codeblocks .hljs-strong {
  font-weight: bold;
}
.better-codeblocks .hljs-link {
  text-decoration: underline;
}
