/*

Brown Paper style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #b7a68e url(./brown_papersq.png);
  -webkit-text-size-adjust: none;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-change,
.better-codeblocks .hljs-winutils,
.better-codeblocks .hljs-flow,
.nginx .better-codeblocks .hljs-title,
.tex .better-codeblocks .hljs-special,
.better-codeblocks .hljs-request,
.better-codeblocks .hljs-status {
  color: #005599;
  font-weight: bold;
}

.better-codeblocks .hljs,
.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-tag .better-codeblocks .hljs-keyword {
  color: #363c69;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-tag .better-codeblocks .hljs-value,
.css .better-codeblocks .hljs-rule .better-codeblocks .hljs-value,
.better-codeblocks .hljs-preprocessor,
.better-codeblocks .hljs-pragma,
.ruby .better-codeblocks .hljs-symbol,
.ruby .better-codeblocks .hljs-symbol .better-codeblocks .hljs-string,
.ruby .better-codeblocks .hljs-class .better-codeblocks .hljs-parent,
.better-codeblocks .hljs-built_in,
.django .better-codeblocks .hljs-template_tag,
.django .better-codeblocks .hljs-variable,
.smalltalk .better-codeblocks .hljs-class,
.ruby .better-codeblocks .hljs-string,
.django .better-codeblocks .hljs-filter .better-codeblocks .hljs-argument,
.smalltalk .better-codeblocks .hljs-localvars,
.smalltalk .better-codeblocks .hljs-array,
.better-codeblocks .hljs-attr_selector,
.better-codeblocks .hljs-pseudo,
.better-codeblocks .hljs-addition,
.better-codeblocks .hljs-stream,
.better-codeblocks .hljs-envvar,
.apache .better-codeblocks .hljs-tag,
.apache .better-codeblocks .hljs-cbracket,
.tex .better-codeblocks .hljs-number,
.better-codeblocks .hljs-name {
  color: #2c009f;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-annotation,
.better-codeblocks .hljs-decorator,
.better-codeblocks .hljs-pi,
.better-codeblocks .hljs-doctype,
.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-shebang,
.apache .better-codeblocks .hljs-sqbracket,
.nginx .better-codeblocks .hljs-built_in,
.tex .better-codeblocks .hljs-formula {
  color: #802022;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-literal,
.css .better-codeblocks .hljs-id,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-type,
.vbscript .better-codeblocks .hljs-built_in,
.rsl .better-codeblocks .hljs-built_in,
.smalltalk .better-codeblocks .hljs-class,
.diff .better-codeblocks .hljs-header,
.better-codeblocks .hljs-chunk,
.better-codeblocks .hljs-winutils,
.bash .better-codeblocks .hljs-variable,
.apache .better-codeblocks .hljs-tag,
.tex .better-codeblocks .hljs-command {
  font-weight: bold;
}

.coffeescript .javascript,
.javascript .xml,
.tex .better-codeblocks .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .better-codeblocks .hljs-cdata {
  opacity: 0.8;
}
