/*

Darcula color scheme from the JetBrains family of IDEs

*/


.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
}

.better-codeblocks {
  color: #bababa;
}

.better-codeblocks .hljs-strong,
.better-codeblocks .hljs-emphasis {
  color: #a8a8a2;
}

.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-quote,
.better-codeblocks .hljs-link,
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-literal {
  color: #6896ba;
}

.better-codeblocks .hljs-code,
.better-codeblocks .hljs-selector-class {
  color: #a6e22e;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-variable {
  color: #cb7832;
}

.better-codeblocks .hljs-params {
  color: #b9b9b9;
}

.better-codeblocks .hljs-string {
  color: #6a8759;
}

.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-builtin-name,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-attr,
.better-codeblocks .hljs-selector-pseudo,
.better-codeblocks .hljs-template-tag,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-addition {
  color: #e0c46c;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-meta {
  color: #7f7f7f;
}
