/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #998;
  font-style: italic;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-subst {
  color: #333;
  font-weight: bold;
}

.better-codeblocks .hljs-number,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-tag .better-codeblocks .hljs-attr {
  color: #008080;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-doctag {
  color: #d14;
}

.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.better-codeblocks .hljs-subst {
  font-weight: normal;
}

.better-codeblocks .hljs-type,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title {
  color: #458;
  font-weight: bold;
}

.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-link {
  color: #009926;
}

.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet {
  color: #990073;
}

.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-builtin-name {
  color: #0086b3;
}

.better-codeblocks .hljs-meta {
  color: #999;
  font-weight: bold;
}

.better-codeblocks .hljs-deletion {
  background: #fdd;
}

.better-codeblocks .hljs-addition {
  background: #dfd;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
