/*

GML Theme - Meseta <meseta@gmail.com>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222222;
  color: #c0c0c0;
}

.better-codeblocks .hljs-keywords {
  color: #ffb871;
  font-weight: bold;
}

.better-codeblocks .hljs-built_in {
  color: #ffb871;
}

.better-codeblocks .hljs-literal {
  color: #ff8080;
}

.better-codeblocks .hljs-symbol {
  color: #58e55a;
}

.better-codeblocks .hljs-comment {
  color: #5b995b;
}

.better-codeblocks .hljs-string {
  color: #ffff00;
}

.better-codeblocks .hljs-number {
  color: #ff8080;
}

.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-code,
.better-codeblocks .hljs-addition,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-link,
.better-codeblocks .hljs-selector-attr,
.better-codeblocks .hljs-selector-pseudo,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-class,
.better-codeblocks .hljs-quote,
.better-codeblocks .hljs-template-tag,
.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-function,
.better-codeblocks .hljs-meta-keyword,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-subst {
  color: #c0c0c0;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
