/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #fff;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #777;
  font-style: italic;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-subst {
  color: #333;
  font-weight: bold;
}

.better-codeblocks .hljs-number,
.better-codeblocks .hljs-literal {
  color: #777;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-formula {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2O8e/fufwYGBgZBQUEQxcCIIfDu3Tuwivfv30NUoAsAALHpFMMLqZlPAAAAAElFTkSuQmCC) repeat;
}

.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-selector-id {
  color: #000;
  font-weight: bold;
}

.better-codeblocks .hljs-subst {
  font-weight: normal;
}

.better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-name {
  color: #333;
  font-weight: bold;
}

.better-codeblocks .hljs-tag {
  color: #333;
}

.better-codeblocks .hljs-regexp {
    color: #333;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat;
}

.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-link {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat;
}

.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-builtin-name {
  color: #000;
  text-decoration: underline;
}

.better-codeblocks .hljs-meta {
  color: #999;
  font-weight: bold;
}

.better-codeblocks .hljs-deletion {
  color: #fff;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat;
}

.better-codeblocks .hljs-addition {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
