/*

Gruvbox style (light) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fbf1c7;
}

.better-codeblocks .hljs,
.better-codeblocks .hljs-subst {
  color: #3c3836;
}

/* Gruvbox Red */
.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-formula,
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-link,
.better-codeblocks .hljs-selector-tag {
  color: #9d0006;
}

/* Gruvbox Blue */
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-emphasis,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-quote,
.better-codeblocks .hljs-strong,
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-variable {
  color: #076678;
}

/* Gruvbox Yellow */
.better-codeblocks .hljs-attr,
.better-codeblocks .hljs-params,
.better-codeblocks .hljs-template-tag,
.better-codeblocks .hljs-type {
  color: #b57614;
}

/* Gruvbox Purple */
.better-codeblocks .hljs-builtin-name,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
.better-codeblocks .hljs-code,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-template-variable {
  color: #af3a03;
}

/* Gruvbox Green */
.better-codeblocks .hljs-addition,
.better-codeblocks .hljs-meta-string,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-selector-attr,
.better-codeblocks .hljs-selector-class,
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-symbol {
  color: #79740e;
}

/* Gruvbox Aqua */
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-class,
.better-codeblocks .hljs-function,
.better-codeblocks .hljs-function .better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-meta-keyword,
.better-codeblocks .hljs-selector-pseudo,
.better-codeblocks .hljs-tag {
  color: #427b58;
}

/* Gruvbox Gray */
.better-codeblocks .hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
.better-codeblocks .hljs-link_label,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-number {
  color: #8f3f71;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-section,
.better-codeblocks .hljs-strong,
.better-codeblocks .hljs-tag {
  font-weight: bold;
}
