/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #fff;
}

.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-title {
  font-weight: normal;
  color: #000;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #808080;
  font-style: italic;
}

.better-codeblocks .hljs-meta {
  color: #808000;
}

.better-codeblocks .hljs-tag {
  background: #efefef;
}

.better-codeblocks .hljs-section,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-class {
  font-weight: bold;
  color: #000080;
}

.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-link {
  font-weight: bold;
  color: #0000ff;
}

.better-codeblocks .hljs-number,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-link {
  font-weight: normal;
}

.better-codeblocks .hljs-string {
  color: #008000;
  font-weight: bold;
}

.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

.better-codeblocks .hljs-doctag {
  text-decoration: underline;
}

.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable {
  color: #660e7a;
}

.better-codeblocks .hljs-addition {
  background: #baeeba;
}

.better-codeblocks .hljs-deletion {
  background: #ffc8bd;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
