/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000;
  color: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.better-codeblocks .hljs-shebang,
.better-codeblocks .hljs-comment {
  color: #7c7c7c;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-tag,
.tex .better-codeblocks .hljs-command,
.better-codeblocks .hljs-request,
.better-codeblocks .hljs-status,
.clojure .better-codeblocks .hljs-attribute {
  color: #96cbfe;
}

.better-codeblocks .hljs-sub .better-codeblocks .hljs-keyword,
.method,
.better-codeblocks .hljs-list .better-codeblocks .hljs-title,
.nginx .better-codeblocks .hljs-title {
  color: #ffffb6;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-tag .better-codeblocks .hljs-value,
.better-codeblocks .hljs-cdata,
.better-codeblocks .hljs-filter .better-codeblocks .hljs-argument,
.better-codeblocks .hljs-attr_selector,
.apache .better-codeblocks .hljs-cbracket,
.better-codeblocks .hljs-date,
.coffeescript .better-codeblocks .hljs-attribute {
  color: #a8ff60;
}

.better-codeblocks .hljs-subst {
  color: #daefa3;
}

.better-codeblocks .hljs-regexp {
  color: #e9c062;
}

.better-codeblocks .hljs-title,
.better-codeblocks .hljs-sub .better-codeblocks .hljs-identifier,
.better-codeblocks .hljs-pi,
.better-codeblocks .hljs-decorator,
.tex .better-codeblocks .hljs-special,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-constant,
.smalltalk .better-codeblocks .hljs-class,
.better-codeblocks .hljs-doctag,
.nginx .better-codeblocks .hljs-built_in {
  color: #ffffb6;
}

.better-codeblocks .hljs-symbol,
.ruby .better-codeblocks .hljs-symbol .better-codeblocks .hljs-string,
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-variable,
.vbscript,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-name {
  color: #c6c5fe;
}

.css .better-codeblocks .hljs-tag {
  color: #96cbfe;
}

.css .better-codeblocks .hljs-rule .better-codeblocks .hljs-property,
.css .better-codeblocks .hljs-id {
  color: #ffffb6;
}

.css .better-codeblocks .hljs-class {
  color: #fff;
}

.better-codeblocks .hljs-hexcolor {
  color: #c6c5fe;
}

.better-codeblocks .hljs-number {
  color: #ff73fd;
}

.coffeescript .javascript,
.javascript .xml,
.tex .better-codeblocks .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .better-codeblocks .hljs-cdata {
  opacity: 0.7;
}
