/*

ISBL Editor style light color schemec (c) Dmitriy Tarasov <dimatar@gmail.com>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: white;
  color: black;
}

/* Base color: saturation 0; */

.better-codeblocks .hljs,
.better-codeblocks .hljs-subst {
  color: #000000;
}

.better-codeblocks .hljs-comment {
  color: #555555;
  font-style: italic;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-meta-keyword,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-name {
  color: #000000;
  font-weight: bold;
}

/* User color: hue: 0 */

.better-codeblocks .hljs-string {
  color: #000080;
}

.better-codeblocks .hljs-type,
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-class,
.better-codeblocks .hljs-quote,
.better-codeblocks .hljs-template-tag,
.better-codeblocks .hljs-deletion {
  color: #000000;
}

.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section {
  color: #fb2c00;
}

.better-codeblocks .hljs-title > .better-codeblocks .hljs-built_in {
  color: #008080;
  font-weight: normal;
}

.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-link,
.better-codeblocks .hljs-selector-attr,
.better-codeblocks .hljs-selector-pseudo {
  color: #5e1700;
}

/* Language color: hue: 90; */

.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-literal {
  color: #000080;
  font-weight: bold;
}

.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-code,
.better-codeblocks .hljs-addition {
  color: #397300;
}

.better-codeblocks .hljs-class {
  color: #6f1c00;
  font-weight: bold;
}

/* Meta color: hue: 200 */

.better-codeblocks .hljs-meta {
  color: #1f7199;
}

.better-codeblocks .hljs-meta-string {
  color: #4d99bf;
}

/* Misc effects */

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
