/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.better-codeblocks .hljs,
.better-codeblocks .hljs-tag,
.css .better-codeblocks .hljs-rule,
.css .better-codeblocks .hljs-value,
.aspectj .better-codeblocks .hljs-function,
.css .better-codeblocks .hljs-function
.better-codeblocks .hljs-preprocessor,
.better-codeblocks .hljs-pragma {
  color: #f8f8f2;
}

.better-codeblocks .hljs-strongemphasis,
.better-codeblocks .hljs-strong,
.better-codeblocks .hljs-emphasis {
  color: #a8a8a2;
}

.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-blockquote,
.better-codeblocks .hljs-horizontal_rule,
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-regexp,
.alias .better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-hexcolor {
  color: #ae81ff;
}

.better-codeblocks .hljs-tag .better-codeblocks .hljs-value,
.better-codeblocks .hljs-code,
.better-codeblocks .hljs-title,
.css .better-codeblocks .hljs-class,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title:last-child {
  color: #a6e22e;
}

.better-codeblocks .hljs-link_url {
  font-size: 80%;
}

.better-codeblocks .hljs-strong,
.better-codeblocks .hljs-strongemphasis {
  font-weight: bold;
}

.better-codeblocks .hljs-emphasis,
.better-codeblocks .hljs-strongemphasis,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title:last-child,
.better-codeblocks .hljs-typename {
  font-style: italic;
}

.better-codeblocks .hljs-keyword,
.ruby .better-codeblocks .hljs-class .better-codeblocks .hljs-keyword:first-child,
.ruby .better-codeblocks .hljs-function .better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-function,
.better-codeblocks .hljs-change,
.better-codeblocks .hljs-winutils,
.better-codeblocks .hljs-flow,
.nginx .better-codeblocks .hljs-title,
.tex .better-codeblocks .hljs-special,
.better-codeblocks .hljs-header,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-symbol .better-codeblocks .hljs-string,
.better-codeblocks .hljs-tag .better-codeblocks .hljs-title,
.better-codeblocks .hljs-value,
.alias .better-codeblocks .hljs-keyword:first-child,
.css .better-codeblocks .hljs-tag,
.css .unit,
.css .better-codeblocks .hljs-important {
  color: #f92672;
}

.better-codeblocks .hljs-function .better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-class .better-codeblocks .hljs-keyword:first-child,
.better-codeblocks .hljs-aspect .better-codeblocks .hljs-keyword:first-child,
.better-codeblocks .hljs-constant,
.better-codeblocks .hljs-typename,
.better-codeblocks .hljs-name,
.css .better-codeblocks .hljs-attribute {
  color: #66d9ef;
}

.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-params,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.better-codeblocks .hljs-aspect .better-codeblocks .hljs-title {
  color: #f8f8f2;
}

.better-codeblocks .hljs-string,
.css .better-codeblocks .hljs-id,
.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-type,
.ruby .better-codeblocks .hljs-class .better-codeblocks .hljs-parent,
.better-codeblocks .hljs-built_in,
.django .better-codeblocks .hljs-template_tag,
.django .better-codeblocks .hljs-variable,
.smalltalk .better-codeblocks .hljs-class,
.django .better-codeblocks .hljs-filter .better-codeblocks .hljs-argument,
.smalltalk .better-codeblocks .hljs-localvars,
.smalltalk .better-codeblocks .hljs-array,
.better-codeblocks .hljs-attr_selector,
.better-codeblocks .hljs-pseudo,
.better-codeblocks .hljs-addition,
.better-codeblocks .hljs-stream,
.better-codeblocks .hljs-envvar,
.apache .better-codeblocks .hljs-tag,
.apache .better-codeblocks .hljs-cbracket,
.tex .better-codeblocks .hljs-command,
.better-codeblocks .hljs-prompt,
.better-codeblocks .hljs-link_label,
.better-codeblocks .hljs-link_url {
  color: #e6db74;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-annotation,
.better-codeblocks .hljs-decorator,
.better-codeblocks .hljs-pi,
.better-codeblocks .hljs-doctype,
.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-shebang,
.apache .better-codeblocks .hljs-sqbracket,
.tex .better-codeblocks .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .better-codeblocks .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .better-codeblocks .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}
