/*
    Paraíso (light)
    Created by Jan T. Sott (http://github.com/idleberg)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

/* Paraíso Comment */
.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-title {
  color: #776e71;
}

/* Paraíso Red */
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-name,
.ruby .better-codeblocks .hljs-constant,
.xml .better-codeblocks .hljs-tag .better-codeblocks .hljs-title,
.xml .better-codeblocks .hljs-pi,
.xml .better-codeblocks .hljs-doctype,
.html .better-codeblocks .hljs-doctype,
.css .better-codeblocks .hljs-id,
.css .better-codeblocks .hljs-class,
.css .better-codeblocks .hljs-pseudo {
  color: #ef6155;
}

/* Paraíso Orange */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-preprocessor,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-params,
.better-codeblocks .hljs-constant {
  color: #f99b15;
}

/* Paraíso Yellow */
.ruby .better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.css .better-codeblocks .hljs-rule .better-codeblocks .hljs-attribute {
  color: #fec418;
}

/* Paraíso Green */
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-value,
.better-codeblocks .hljs-inheritance,
.better-codeblocks .hljs-header,
.ruby .better-codeblocks .hljs-symbol,
.xml .better-codeblocks .hljs-cdata {
  color: #48b685;
}

/* Paraíso Aqua */
.css .better-codeblocks .hljs-hexcolor {
  color: #5bc4bf;
}

/* Paraíso Blue */
.better-codeblocks .hljs-function,
.python .better-codeblocks .hljs-decorator,
.python .better-codeblocks .hljs-title,
.ruby .better-codeblocks .hljs-function .better-codeblocks .hljs-title,
.ruby .better-codeblocks .hljs-title .better-codeblocks .hljs-keyword,
.perl .better-codeblocks .hljs-sub,
.javascript .better-codeblocks .hljs-title,
.coffeescript .better-codeblocks .hljs-title {
  color: #06b6ef;
}

/* Paraíso Purple */
.better-codeblocks .hljs-keyword,
.javascript .better-codeblocks .hljs-function {
  color: #815ba4;
}

.better-codeblocks {
  display: block;
  overflow-x: auto;
  background: #e7e9db;
  color: #4f424c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .better-codeblocks .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .better-codeblocks .hljs-cdata {
  opacity: 0.5;
}
