/*

Style with support for rainbow parens

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #474949;
  color: #d1d9e1;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #969896;
  font-style: italic;
}

.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-addition {
  color: #cc99cc;
}

.better-codeblocks .hljs-number,
.better-codeblocks .hljs-selector-attr,
.better-codeblocks .hljs-selector-pseudo {
  color: #f99157;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-regexp {
  color: #8abeb7;
}

.better-codeblocks .hljs-title,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-built_in {
  color: #b5bd68;
}

.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title {
  color: #ffcc66;
}

.better-codeblocks .hljs-section,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-strong {
  font-weight: bold;
}

.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-link {
  color: #f99157;
}

.better-codeblocks .hljs-deletion {
  color: #dc322f;
}

.better-codeblocks .hljs-formula {
  background: #eee8d5;
}

.better-codeblocks .hljs-attr,
.better-codeblocks .hljs-attribute {
  color: #81a2be;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}
