/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
  -webkit-text-size-adjust: none;
}

.better-codeblocks .hljs-comment,
.diff .better-codeblocks .hljs-header,
.better-codeblocks .hljs-doctype,
.better-codeblocks .hljs-pi,
.lisp .better-codeblocks .hljs-string {
  color: #586e75;
}

/* Solarized Green */
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-winutils,
.method,
.better-codeblocks .hljs-addition,
.css .better-codeblocks .hljs-tag,
.better-codeblocks .hljs-request,
.better-codeblocks .hljs-status,
.nginx .better-codeblocks .hljs-title {
  color: #859900;
}

/* Solarized Cyan */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-command,
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-tag .better-codeblocks .hljs-value,
.better-codeblocks .hljs-rule .better-codeblocks .hljs-value,
.better-codeblocks .hljs-doctag,
.tex .better-codeblocks .hljs-formula,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-hexcolor,
.better-codeblocks .hljs-link_url {
  color: #2aa198;
}

/* Solarized Blue */
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-localvars,
.better-codeblocks .hljs-chunk,
.better-codeblocks .hljs-decorator,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-identifier,
.vhdl .better-codeblocks .hljs-literal,
.better-codeblocks .hljs-id,
.css .better-codeblocks .hljs-function,
.better-codeblocks .hljs-name {
  color: #268bd2;
}

/* Solarized Yellow */
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-variable,
.lisp .better-codeblocks .hljs-body,
.smalltalk .better-codeblocks .hljs-number,
.better-codeblocks .hljs-constant,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.better-codeblocks .hljs-parent,
.better-codeblocks .hljs-type,
.better-codeblocks .hljs-link_reference {
  color: #b58900;
}

/* Solarized Orange */
.better-codeblocks .hljs-preprocessor,
.better-codeblocks .hljs-preprocessor .better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-pragma,
.better-codeblocks .hljs-shebang,
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-symbol .better-codeblocks .hljs-string,
.diff .better-codeblocks .hljs-change,
.better-codeblocks .hljs-special,
.better-codeblocks .hljs-attr_selector,
.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-cdata,
.css .better-codeblocks .hljs-pseudo,
.better-codeblocks .hljs-header {
  color: #cb4b16;
}

/* Solarized Red */
.better-codeblocks .hljs-deletion,
.better-codeblocks .hljs-important {
  color: #dc322f;
}

/* Solarized Violet */
.better-codeblocks .hljs-link_label {
  color: #6c71c4;
}

.tex .better-codeblocks .hljs-formula {
  background: #073642;
}
