/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
}

.better-codeblocks .hljs-comment,
.better-codeblocks .hljs-quote {
  color: #93a1a1;
}

/* Solarized Green */
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-tag,
.better-codeblocks .hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-string,
.better-codeblocks .hljs-meta .better-codeblocks .hljs-meta-string,
.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-doctag,
.better-codeblocks .hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.better-codeblocks .hljs-title,
.better-codeblocks .hljs-section,
.better-codeblocks .hljs-name,
.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-attr,
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-class .better-codeblocks .hljs-title,
.better-codeblocks .hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.better-codeblocks .hljs-symbol,
.better-codeblocks .hljs-bullet,
.better-codeblocks .hljs-subst,
.better-codeblocks .hljs-meta,
.better-codeblocks .hljs-meta .better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-selector-attr,
.better-codeblocks .hljs-selector-pseudo,
.better-codeblocks .hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-deletion {
  color: #dc322f;
}

.better-codeblocks .hljs-formula {
  background: #eee8d5;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}
