
/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

.better-codeblocks {
  display: block;
  overflow-x: auto;
  color: #eaeaea;
  background: #000;
  padding: 0.5em;
}

.better-codeblocks .hljs-subst {
  color: #eaeaea;
}

.better-codeblocks .hljs-emphasis {
  font-style: italic;
}

.better-codeblocks .hljs-strong {
  font-weight: bold;
}

.better-codeblocks .hljs-builtin-name,
.better-codeblocks .hljs-type {
  color: #eaeaea;
}

.better-codeblocks .hljs-params {
  color: #da0000;
}

.better-codeblocks .hljs-literal,
.better-codeblocks .hljs-number,
.better-codeblocks .hljs-name {
  color: #ff0000;
  font-weight: bolder;
}

.better-codeblocks .hljs-comment {
  color: #969896;
}

.better-codeblocks .hljs-selector-id,
.better-codeblocks .hljs-quote {
  color: #00ffff;
}

.better-codeblocks .hljs-template-variable,
.better-codeblocks .hljs-variable,
.better-codeblocks .hljs-title {
  color: #00ffff;
  font-weight: bold;
}

.better-codeblocks .hljs-selector-class,
.better-codeblocks .hljs-keyword,
.better-codeblocks .hljs-symbol {
  color: #fff000;
}

.better-codeblocks .hljs-string,
.better-codeblocks .hljs-bullet {
  color: #00ff00;
}

.better-codeblocks .hljs-tag,
.better-codeblocks .hljs-section {
  color: #000fff;
}

.better-codeblocks .hljs-selector-tag {
  color: #000fff;
  font-weight: bold;
}

.better-codeblocks .hljs-attribute,
.better-codeblocks .hljs-built_in,
.better-codeblocks .hljs-regexp,
.better-codeblocks .hljs-link {
  color: #ff00ff;
}

.better-codeblocks .hljs-meta {
  color: #fff;
  font-weight: bolder;
}
